h1{
    color: black;
    font-family: monospace;
   

}



button{
    background-color: rgb(255, 221, 85);
 
}
h2{
  
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
header{
    background-color: rgb(64, 179, 108);
    font-family: cursive;
    font-family: 300%;
}
