body{
    background-color:#bbdefb ;
    display: flex;
    justify-content: center; 
    align-items: center ;
    height: 100vh;
    flex-direction: column;
}
*{
    font-family:'LATO' ,sans-serif;
    font-family:'open sans ' ,sans-serif;
    font-family:'pt sans' ,sans-serif;
    box-sizing: border-box;

}
form{
    width: 600px;
    border: 2px solid black;
    padding: 7rem;
    background-color: #e3f2fd ;
    border:none;
    border-radius: 20px;
    color:black;

   
}
h1{
    display: block;
    border: 2px solied black;
    width: 95%;
    padding:  4rem;
    margin: 10px;
    border-radius:10px ;
 
}


label{
    color: black;
    font-size: 18px;
    padding: 10px;
    font-weight: 300;

}

input{
   display: block; 
border:2px solid black;
width: 100%;
padding: 10px;
margin: 10px;
border-radius: 10px;

}



button{
    float: right;
    background-color: #00f1dc;
    padding: .5rem;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-right: 10px;

}
button:hover
{
    background-color:white  ;
    color: black;
}
a{
   float: left;
   margin-left: 10px; 
   padding: .5rem;
   text-decoration: none;
}
a:hover{
    background-color:white  ;
    color: black;

}
p{
    font-size: 400%;
    justify-content :left;
   color: #651fff ;
}
error{
    background-color: red;
    color:black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
    
}